black==19.10b0
Django==3.1.1
django-cors-headers==3.5.0
djangorestframework==3.11.1
drf-yasg==1.17.1
drf-yasg[validation]
djoser==2.0.3
flake8==3.8.3
isort==5.4.2
Pillow==7.2.0
psycopg2-binary==2.8.5
pytest-cov==2.10.1
pytest-django==3.9.0
pytest-xdist==2.1.0
pytest==6.0.1
